In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

In [2]:
df1 = pd.read_csv("./round-1-island-data-bottle/prices_round_1_day_-2.csv", sep = ";")
df2 = pd.read_csv("./round-1-island-data-bottle/prices_round_1_day_-1.csv", sep = ";")
df3 = pd.read_csv("./round-1-island-data-bottle/prices_round_1_day_0.csv", sep = ";")
test = pd.read_csv("./round-1-island-data-bottle/test.csv", sep = ";")

In [3]:
result = pd.concat([df1, df2, df3], ignore_index=True).reset_index(drop = True).copy()

In [4]:
market_trades_1 = pd.read_csv("./round-1-island-data-bottle/trades_round_1_day_-2_nn.csv", sep = ";")
market_trades_2 = pd.read_csv("./round-1-island-data-bottle/trades_round_1_day_-1_nn.csv", sep = ";")
market_trades_3 = pd.read_csv("./round-1-island-data-bottle/trades_round_1_day_0_nn.csv", sep = ";")

market_trades_1['day'] = -2 
market_trades_2['day'] = -1 
market_trades_3['day'] = 0

In [5]:
market_trades = pd.concat([market_trades_1, market_trades_2, market_trades_3], ignore_index=True).reset_index(drop = True).copy()

In [6]:
market_trades.drop(["buyer", "seller"], axis = 1, inplace = True)
result.drop("profit_and_loss", axis = 1, inplace = True)

In [7]:
market_trades["day"]+=2
market_trades['old_timestamp'] = market_trades['timestamp']

def adjust_timestamp(day, timestamp):
    return day * 1000000 + timestamp

market_trades['timestamp'] = market_trades.apply(lambda row: adjust_timestamp(row['day'], row['timestamp']), axis=1)

In [8]:
market_trades.to_csv("market.csv", index = False)

In [7]:
result['day']+=2
result['old_timestamp'] = result['timestamp']

def adjust_timestamp(day, timestamp):
    return day * 1000000 + timestamp

result['timestamp'] = result.apply(lambda row: adjust_timestamp(row['day'], row['timestamp']), axis=1)

In [9]:
df = result.copy()
products = result['product'].unique()

dfs = {}
for product in products:
    dfs[product] = df.loc[df['product'] == product].copy().reset_index(drop = True)
    # range(dfs[product].shape[0])

In [10]:
dfs['AMETHYSTS'].to_csv("ameth.csv", index = False)

In [11]:
result.to_csv("combined.csv", index = False)
market_trades.to_csv("market_trades.csv", index = False)

In [17]:
dfs["AMETHYSTS"]

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price
0,-2,0,AMETHYSTS,9996,1,9995.0,25.0,NaN,NaN,10004,1,10005.0,25.0,NaN,NaN,10000.0
1,-2,100,AMETHYSTS,10000,5,9995.0,20.0,NaN,NaN,10005,20,NaN,NaN,NaN,NaN,10002.5
2,-2,200,AMETHYSTS,9996,1,9995.0,30.0,NaN,NaN,10004,1,10005.0,30.0,NaN,NaN,10000.0
3,-2,300,AMETHYSTS,9996,1,9995.0,26.0,NaN,NaN,10004,1,10005.0,26.0,NaN,NaN,10000.0
4,-2,400,AMETHYSTS,9995,20,NaN,NaN,NaN,NaN,9998,3,10002.0,9.0,10005.0,20.0,9996.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,0,999500,AMETHYSTS,9995,28,NaN,NaN,NaN,NaN,10002,6,10005.0,28.0,NaN,NaN,9998.5
29996,0,999600,AMETHYSTS,9996,2,9995.0,27.0,NaN,NaN,10002,3,10004.0,2.0,10005.0,27.0,9999.0
29997,0,999700,AMETHYSTS,9996,2,9995.0,24.0,NaN,NaN,10004,2,10005.0,24.0,NaN,NaN,10000.0
29998,0,999800,AMETHYSTS,9995,27,NaN,NaN,NaN,NaN,10005,27,NaN,NaN,NaN,NaN,10000.0
29999,0,999900,AMETHYSTS,9996,2,9995.0,21.0,NaN,NaN,10004,2,10005.0,21.0,NaN,NaN,10000.0

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [21]:
dfs[""]

{'AMETHYSTS':        timestamp    product  bid_price_1  bid_volume_1  bid_price_2  \
 0              0  AMETHYSTS         9996             1       9995.0
 1            100  AMETHYSTS        10000             5       9995.0
 2            200  AMETHYSTS         9996             1       9995.0
 3            300  AMETHYSTS         9996             1       9995.0
 4            400  AMETHYSTS         9995            20          NaN
 ...          ...        ...          ...           ...          ...
 29995     999500  AMETHYSTS         9995            28          NaN
 29996     999600  AMETHYSTS         9996             2       9995.0
 29997     999700  AMETHYSTS         9996             2       9995.0
 29998     999800  AMETHYSTS         9995            27          NaN
 29999     999900  AMETHYSTS         9996             2       9995.0

        bid_volume_2  bid_price_3  bid_volume_3  ask_price_1  ask_volume_1  \
 0              25.0          NaN           NaN        10004             1
 1              20.0          NaN           NaN        10005            20
 2              30.0          NaN           NaN        10004             1
 3              26.0          NaN           NaN        10004             1
 4               NaN          NaN           NaN         9998             3
 ...             ...          ...           ...          ...           ...
 29995           NaN          NaN           NaN        10002             6
 29996          27.0          NaN           NaN        10002             3
 29997          24.0          NaN           NaN        10004             2
 29998           NaN          NaN           NaN        10005            27
 29999          21.0          NaN           NaN        10004             2

        ask_price_2  ask_volume_2  ask_price_3  ask_volume_3  mid_price
 0          10005.0          25.0          NaN           NaN    10000.0
 1              NaN           NaN          NaN           NaN    10002.5
 2          10005.0          30.0          NaN           NaN    10000.0
 3          10005.0          26.0          NaN           NaN    10000.0
 4          10002.0           9.0      10005.0          20.0     9996.5
 ...            ...           ...          ...           ...        ...
 29995      10005.0          28.0          NaN           NaN     9998.5
 29996      10004.0           2.0      10005.0          27.0     9999.0
 29997      10005.0          24.0          NaN           NaN    10000.0
 29998          NaN           NaN          NaN           NaN    10000.0
 29999      10005.0          21.0          NaN           NaN    10000.0

 [30000 rows x 15 columns],
 'STARFRUIT':        timestamp    product  bid_price_1  bid_volume_1  bid_price_2  \
 0              0  STARFRUIT         4997            26          NaN
 1            100  STARFRUIT         5000             5       4998.0
 2            200  STARFRUIT         4997             1       4996.0
 3            300  STARFRUIT         4996            27          NaN
 4            400  STARFRUIT         4995            20          NaN
 ...          ...        ...          ...           ...          ...
 29995     999500  STARFRUIT         5049            28          NaN
 29996     999600  STARFRUIT         5048             9       5047.0
 29997     999700  STARFRUIT         5053             1       5048.0
 29998     999800  STARFRUIT         5047            27          NaN
 29999     999900  STARFRUIT         5048             2       5047.0

        bid_volume_2  bid_price_3  bid_volume_3  ask_price_1  ask_volume_1  \
 0               NaN          NaN           NaN         5003            26
 1               6.0       4997.0          20.0         5004            20
 2              30.0          NaN           NaN         5003            31
 3               NaN          NaN           NaN         5003            27
 4               NaN          NaN           NaN         5002            20
 ...             ...          ...           ...          ...           ...
 29995           NaN          NaN           NaN         5056            28
 29996          27.0          NaN           NaN         5054            29
 29997          26.0          NaN           NaN         5054             2
 29998           NaN          NaN           NaN         5052             1
 29999          21.0          NaN           NaN         5054            23

        ask_price_2  ask_volume_2  ask_price_3  ask_volume_3  mid_price
 0              NaN           NaN          NaN           NaN     5000.0
 1              NaN           NaN          NaN           NaN     5002.0
 2              NaN           NaN          NaN           NaN     5000.0
 3              NaN           NaN          NaN           NaN     4999.5
 4              NaN           NaN          NaN           NaN     4998.5
 ...            ...           ...          ...           ...        ...
 29995          NaN           NaN          NaN           NaN     5052.5
 29996          NaN           NaN          NaN           NaN     5051.0
 29997       5055.0          24.0          NaN           NaN     5053.5
 29998       5054.0          27.0          NaN           NaN     5049.5
 29999          NaN           NaN          NaN           NaN     5051.0

 [30000 rows x 15 columns]}

In [18]:
def plot_product_prices_volumes(dfs, product_name):
    df = dfs[product_name]

    # Plot settings
    plot_titles = [
        'Mid Price Over Time',
        'Ask Prices 1, 2, and 3 Over Time',
        'Bid Prices 1, 2, and 3 Over Time',
        'Mid, Ask, and Bid Prices 1, 2, and 3 Over Time',
        'Bid Volumes 1, 2, and 3 Over Time',
        'Ask Volumes 1, 2, and 3 Over Time'
    ]
    y_axes = [
        'mid_price',
        ['ask_price_1', 'ask_price_2', 'ask_price_3'],
        ['bid_price_1', 'bid_price_2', 'bid_price_3'],
        ['mid_price', 'ask_price_1', 'ask_price_2', 'ask_price_3', 'bid_price_1', 'bid_price_2', 'bid_price_3'],
        ['bid_volume_1', 'bid_volume_2', 'bid_volume_3'],
        ['ask_volume_1', 'ask_volume_2', 'ask_volume_3']
    ]

    ask_colors = ['#FFA07A', '#FA8072', '#8B0000']
    bid_colors = ['#90EE90', '#008000', '#556B2F']
    mid_color = '#0000FF'
    volume_colors = {
        'ask_volume': ['#FFDAB9', '#F0E68C', '#DEB887'],
        'bid_volume': ['#98FB98', '#32CD32', '#228B22']
    }

    for i, title in enumerate(plot_titles):
        fig = go.Figure()

        if isinstance(y_axes[i], str):  # For single column data (Mid Price)
            hover_text = df.apply(lambda x: f'Time: {x["timestamp"]}<br>Mid: {x["mid_price"]}', axis=1)
            fig.add_trace(go.Scatter(
                x=df['timestamp'], y=df[y_axes[i]], mode='lines+markers', name=y_axes[i],
                hoverinfo='text', text=hover_text, line=dict(color=mid_color)
            ))
        else:  # For multiple columns data (Bid/Ask Prices and Volumes)
            for idx, col in enumerate(y_axes[i]):
                if 'ask_price' in col or 'bid_price' in col:
                    level = col.split('_')[-1]
                    volume_col = col.replace('price', 'volume')
                    hover_text = df.apply(lambda x: f'Time: {x["timestamp"]}<br>{col}: {x[col]}<br>Volume: {x[volume_col]}<br>Mid: {x["mid_price"]}', axis=1)
                    color = ask_colors[int(level) - 1] if 'ask_price' in col else bid_colors[int(level) - 1]
                elif col == 'mid_price':
                    hover_text = df.apply(lambda x: f'Time: {x["timestamp"]}<br>Mid: {x["mid_price"]}', axis=1)
                    color = mid_color
                else:
                    hover_text = df.apply(lambda x: f'Time: {x["timestamp"]}<br>{col}: {x[col]}', axis=1)
                    color = volume_colors['ask_volume'][int(level) - 1] if 'ask_volume' in col else volume_colors['bid_volume'][int(level) - 1]

                fig.add_trace(go.Scatter(
                    x=df['timestamp'], y=df[col], mode='lines+markers', name=col,
                    hoverinfo='text', text=hover_text, line=dict(color=color)
                ))

        fig.update_layout(title=title, xaxis_title="Timestamp", yaxis_title="Value", width=1024, height=400)
        fig.show()